@page "/"
@inherits StandUpCore.StandUpBase

@if (!HasCredentials)
{
    <div class="alert alert-danger mb-4" role="alert">
        <h4 class="alert-heading">
            Missing Credentials!
        </h4>

        <p class="mb-0">
            This app can only work if you add some Jira Credentials. <NavLink href="credentials" class="alert-link">Go add some credentials before you start.</NavLink>
        </p>
    </div>
}

<TaskList Label="Current Tasks" bind-Tasks="@StandUp.CurrentTasks" />
<TaskList Label="Done Tasks" bind-Tasks="@StandUp.DoneTasks" />
<TaskList Label="Blocked Tasks" bind-Tasks="@StandUp.BlockedTasks" />

<div class="form-inline">
    <fieldset class="form-group mb-1">
        <select class="form-control" bind="@StandUp.PreviousDayLabel">
            <option value="Yesterday">Yesterday</option>
            <option value="Friday">Friday</option>
            <option value="Thursday">Thursday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Monday">Monday</option>
            <option value="Sunday">Sunday</option>
            <option value="Saturday">Saturday</option>
        </select>
    </fieldset>
</div>

<fieldset class="form-group">
    <textarea bind="@StandUp.PreviousDaySummary" class="form-control" rows="2"></textarea>
</fieldset>

<fieldset class="form-group">
    <label>
        Today
    </label>

    <textarea bind="@StandUp.TodaySummary" class="form-control" rows="2"></textarea>
</fieldset>

<fieldset class="form-group">
    <label>
        Impediments
    </label>

    <textarea bind="@StandUp.BlockedSummary" class="form-control" rows="2" placeholder="none"></textarea>
</fieldset>

<div class="text-center mt-4 mb-5">
    <button class="btn btn-success btn-lg" type="button" onclick="@GenerateAsync">@GenerateLabel</button>
</div>
