@page "/credentials"

<p class="lead">
    Your credentials are stored in your browser's local storage and are passed to a web service to retrieve task information. The service does not store your credentials and acts only as a proxy to the Jira API. You can <a href="https://id.atlassian.com/manage/api-tokens" target="_blank">revoke your API tokens at any time</a>.
</p>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Site</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var credential in SavedCredentials)
        {
            <tr @key="credential.Id">
                <td>@credential.SiteUrl</td>
                <td>@credential.Email</td>
                <td class="text-right">
                    <button type="button"
                            class="btn btn-outline-danger btn-sm"
                            @onclick="@(e => DeleteCredential(credential.Id))">
                        Delete
                    </button>
                </td>
            </tr>
        }

        @if (!SavedCredentials.Any())
        {
            <tr>
                <td colspan="3" class="text-center text-muted">
                    No credentials found.
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row justify-content-center">
    <div class="col-7">
        <div class="card">
            <div class="card-header">
                Add Jira Credential
            </div>

            <div class="card-body">
                <EditForm Model="NewCredential" OnValidSubmit="SaveNewCredential">
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <label for="SiteUrl">Site URL</label>
                        <InputText id="SiteUrl" @bind-Value="NewCredential.SiteUrl" Class="form-control" />
                        <div class="form-text text-danger">
                            <ValidationMessage For="@(() => NewCredential.SiteUrl)" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Email">Email Address</label>
                        <InputText id="Email" @bind-Value="NewCredential.Email" Class="form-control" />
                        <div class="form-text text-danger">
                            <ValidationMessage For="@(() => NewCredential.Email)" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ApiToken">API Token</label>
                        <InputText id="ApiToken" @bind-Value="NewCredential.ApiToken" Class="form-control" />
                        <div class="form-text text-danger">
                            <ValidationMessage For="@(() => NewCredential.ApiToken)" />
                        </div>
                        <small class="form-text">
                            <a href="https://confluence.atlassian.com/cloud/api-tokens-938839638.html" target="_blank">Instructions for generating an API Token.</a>
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>
